.project__item-text {
  flex-direction: column;
}

.item__title {
  font-size: 25px;
}

.item__text {
  font-size: 22px;
}

.projects__bottom {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.projects__item-img {
  border-top-right-radius: 70px;
}

.project__btn {
  height: 70px;
  width: 70px;
  border-radius: 100px;
  background-color: #F4F0EC;
  border: none;
}