.login__page {
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url(../../image/login-bg.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  overflow-x: hidden;
}

.login__inner {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  position: relative;
}

.login__text {
  margin-top: 300px;
  font-size: 40px;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 10px 0;
}

.login__form {
  padding: 20px;
  width: 500px;
  height: 300px;
  border-radius: 20px;
  color: #fff;
  background-color: #292F36;

}

.login__form h1 {
  padding-bottom: 20px;
  color: #fff;
}

.login__form p {
  padding-top: 20px;
  font-size: 20px;
}