.news__item {
  border: 1px solid #e7e7e7;
  border-radius: 15px;
  padding: 10px;
}

.news__item-info {
  display: flex;
  flex-direction: column;
  text-align: left;
}

.news__item-img {
  max-width: 340px;
}

.news__item-title {
  font-size: 18px;
  height: 80px;
}

.news__item-date {
  font-size: 16px;
  color: #292F36;
  text-align: right;
}