.blogs__item {
  border: 1px solid #E7E7E7;
  border-radius: 62px;
  display: flex;
  flex-direction: column;
}

.blogs__item-img {
  max-width: 100%;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
}

.blogs__item {
  padding: 20px;
}

.item__title {
  padding-top: 10px;
  height: 100px;
  margin: 0;
  font-size: 25px;
  color: #292F36;
}

.item__date-button {
  display: flex;
  align-items: center;
}

.item__date {
  font-size: 16px;
  color: #4D5053;
}

.blog__btn {
  height: 52px;
  width: 52px;
  border-radius: 100px;
  background-color: #F4F0EC;
  border: none;
  cursor: pointer;
}