.blogs__page {
  margin-top: 10px;
  margin-bottom: 150px;
}

.container {
  margin: 0 auto;
  max-width: 1220px;
  padding: 0 10px;
}

.blogs__page-top {
  flex-direction: column;
  text-align: center;
  padding-bottom: 30px;
}

.blogs__title {
  font-size: 48px;
  padding-bottom: 20px;
}

.item__date-button {
  display: flex;
  justify-content: space-between;
}

.blogs__text {
  font-size: 22px;
}

.blogs__items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px 20px;
}